<template>
    <div class="container">
        <p> app works !</p>
    </div>
</template>

<script>


    export default {
        name: 'App',
        components: {


        },
        data(){
            return {
                hell : null,
            }
        },
        mounted(){


        }
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    .container {
        margin-top: 150px;
    }

</style>
